 #titulo {
    font-size: 80px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(1 99 102 / 24%);
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #14bdac;
}

.board {
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    color: #037a6e;
    font-size: 74px;
    font-family: sans-serif;
    width: 100px;
    height: 100px;
    display: flex;
    border: 3px solid #079284;
    flex-direction: row;
    justify-content: center;
    align-items: center;;
} 

.cell:nth-child(1){
    border-top: none;
}

.cell:nth-child(2){
    border-top: none;
}

.cell:nth-child(3){
    border-top: none;
}


.cell:nth-child(1){
    border-left: none;
}

.cell:nth-child(4){
    border-left: none;
}

.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(7){
    border-bottom: none;
}

.cell:nth-child(8){
    border-bottom: none;
}

.cell:nth-child(9){
    border-bottom: none;
}

.cell:nth-child(3){
    border-right: none;
}

.cell:nth-child(6){
    border-right: none;
}

.cell:nth-child(9){
    border-right: none;
}